/*!
 * Guap Icons v11.3
*/
.gi::before,[class*=" gi-"]::before,[class^=gi-]::before {
    display: inline-block;
    font-family: guap-icons!important;
    font-style: normal;
    font-weight: 400!important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.gi-logo-vk::before {
    content: "\e91a"
}

.gi-logo-ok::before {
    content: "\e91d"
}

.gi-logo-telegram::before {
    content: "\e91f"
}

.gi-logo-rutube::before {
    content: "\e920"
}

.gi-logo-youtube::before {
    content: "\e922"
}

.gi-logo-dzen::before {
    content: "\e923"
}

.gi-bars::before {
    content: "\e908"
}

.gi-cross::before {
    content: "\e911"
}

.gi-arrow-marker-down::before {
    content: "\e900"
}

.gi-arrow-marker-down-left::before {
    content: "\e901"
}

.gi-arrow-marker-down-right::before {
    content: "\e902"
}

.gi-arrow-marker-left::before {
    content: "\e903"
}

.gi-arrow-marker-right::before {
    content: "\e904"
}

.gi-arrow-marker-up::before {
    content: "\e905"
}

.gi-arrow-marker-up-left::before {
    content: "\e906"
}

.gi-arrow-marker-up-right::before {
    content: "\e907"
}

.gi-chevron-down::before {
    content: "\e909"
}

.gi-chevron-down-left::before {
    content: "\e90a"
}

.gi-chevron-down-right::before {
    content: "\e90b"
}

.gi-chevron-left::before {
    content: "\e90c"
}

.gi-chevron-right::before {
    content: "\e90d"
}

.gi-chevron-up::before {
    content: "\e90e"
}

.gi-chevron-up-left::before {
    content: "\e90f"
}

.gi-chevron-up-right::before {
    content: "\e910"
}

.gi-logo-iibmp::before {
    content: "\e942"
}

.gi-logo-i01::before {
    content: "\e939"
}

.gi-logo-i02::before {
    content: "\e93a"
}

.gi-logo-i03::before {
    content: "\e93b"
}

.gi-logo-i04::before {
    content: "\e93c"
}

.gi-logo-i06::before {
    content: "\e93e"
}

.gi-logo-i07::before {
    content: "\e93f"
}

.gi-logo-i08::before {
    content: "\e940"
}

.gi-logo-indo::before {
    content: "\e943"
}

.gi-logo-fdpo::before {
    content: "\e937"
}

.gi-logo-fspo::before {
    content: "\e938"
}

.gi-logo-igf::before {
    content: "\e941"
}

.gi-guap-logo::before {
    content: "\e931"
}

.gi-atom::before {
    content: "\e915"
}

.gi-big-atom::before {
    content: "\e919"
}

.gi-star::before {
    content: "\e958"
}

.gi-logo-i05::before {
    content: "\e93d"
}

.gi-institute-partners::before {
    content: "\e932"
}

.gi-target-partners::before {
    content: "\e95e"
}

.gi-job::before {
    content: "\e934"
}

.gi-start::before {
    content: "\e959"
}

.gi-fpso::before {
    content: "\e92f"
}

.gi-bachleor::before {
    content: "\e917"
}

.gi-specialist::before {
    content: "\e956"
}

.gi-magister::before {
    content: "\e944"
}

.gi-postgraduate::before {
    content: "\e94d"
}

.gi-user::before {
    content: "\e963"
}

.gi-person::before {
    content: "\e94b"
}

.gi-students::before {
    content: "\e95a"
}

.gi-professor::before {
    content: "\e94f"
}

.gi-meeting::before {
    content: "\e947"
}

.gi-target-studs::before {
    content: "\e960"
}

.gi-target-employee::before {
    content: "\e95d"
}

.gi-cycle::before {
    content: "\e91e"
}

.gi-conferense::before {
    content: "\e91b"
}

.gi-arrow-left::before {
    content: "\e913"
}

.gi-arrow-right::before {
    content: "\e914"
}

.gi-adress::before {
    content: "\e912"
}

.gi-base-cathedra::before {
    content: "\e918"
}

.gi-exhibition::before {
    content: "\e921"
}

.gi-graduate::before {
    content: "\e930"
}

.gi-laureate::before {
    content: "\e935"
}

.gi-schedule::before {
    content: "\e950"
}

.gi-science-event::before {
    content: "\e952"
}

.gi-science-journal::before {
    content: "\e953"
}

.gi-scientificgroups::before {
    content: "\e954"
}

.gi-sport::before {
    content: "\e957"
}

.gi-study::before {
    content: "\e95b"
}

.gi-target-vips::before {
    content: "\e961"
}

.gi-update::before {
    content: "\e962"
}

.gi-military::before {
    content: "\e948"
}

.gi-prize::before {
    content: "\e94e"
}

.gi-award::before {
    content: "\e916"
}

.gi-congratulation::before {
    content: "\e91c"
}

.gi-win-1::before {
    content: "\e966"
}

.gi-win-2::before {
    content: "\e967"
}

.gi-win-3::before {
    content: "\e968"
}